.one {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 70px;
  margin-top: 70px;
}

.two {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  text-align: center;
}
